body {
  margin: 0;
}

.none-style-a a {
  text-decoration: none;
  color: inherit;
}

.none-style-a a:hover {
  text-decoration: none;
  color: inherit;
}
.right-1{
  right: 40px;
}

.top-1{
  top: 20px;
}

.pointer{
  cursor: pointer;
}

/*Styles for the navbar sections*/
.link-style{
  padding: 0px 15px 0px 15px;
}
/* this style line up the btn cart to the right */
.r-1{
  right: -130px;
}

.responsive-buttons{
  position: absolute;

}
/* Styles for  pruducts section */
.lay_out{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px,5fr));
  width:100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}
/*img slider*/
.img-responsive{
  overflow-y: hidden;
  height: 92vh;
}

/*img shopping cart list*/
.shopping-cart-list-img{
  width: 10vh;
  height: auto;
}

.single_card_product_lay_out{
  width: 100%;
  display: flex;
}

.single_card_section_one{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50%;
}
 
.single_card_section_two{
  width: 50%;
  height: 60vh;
}

.img_single_product{
  width: 30vh;
  height: auto;
}

/*img card size*/
.img-card{
  width: 20vh;
  height: 40vh;
}

.text-size-1{
  font-size: 1.2vw;
}

.text-size-2{
  font-size: 1.4vw;
}

.text-size-3{
  font-size: 2.4vw;
}

.text-size-4{
  font-size: 3.4vw !important;
}
.text-size-5{
  font-size: 6.4vw;
}

.botton-filter{
  background-color: #ffffff !important;
  border-style: none !important;
}

.items-shoping-cart{
  height: 47vh;
  overflow-y: scroll;
}

.pay-view{
  height: 60vh;
  overflow-y: scroll;
}

.pay-size{
  width: 50%;
}

/* this class change the size from the button text */
.text-size-button-1{
  font-size: 1vw !important;
}

.form-size{
  width: 50%;
}

.button-w{
  width: 100%;
}

.hv-100{
  height: 100vh;
}
.hv-75{
  height: 75vh;
}
.hv-50{
  height: 5vh;
}

.w-b-50{
  width: 25%;
}

.truncate-text{
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media (max-width: 1000px) { 

  .w-b-50{
    width: 50% !important;
  }

  .text-size-5{
    font-size: 22.4vw;
  }

  .pay-size{
    width: 100%;
  }

    .form-size{
      width: 95%;
    }

  .single_card_product_lay_out{
    display: flex;
    flex-direction: column;
    }

    .single_card_section_one, 
    .single_card_section_two{
      width: 100%;
    }  

  /*Styles for the navbar sections*/
  .link-style{
    padding: 10px 5px 10px 5px;
  }

  .items-shoping-cart{
    height: 60vh;
    overflow-y: scroll;
  }

  .btn-cart-responsive{
    color: cornsilk !important;
    background-color: black !important;
    width: 50px ;
  }

  .pay-view-1{
    height: 30vh;
  }

  /*class that make the img slider responsive*/
  .img-height{
    height: 50vh;
  }
  /*class that make the img slider container responsive*/
  .img-responsive{
    overflow-y: hidden;
    height: 50vh;
  }

  /* Login, Sing up and Btn cart buttons responsive styles  */
  .responsive-buttons{
    position: relative;
    display: flex;
    flex-direction: column-reverse;
  }

  /* this style line up the btn cart to the left */
  .r-1{
    right: 0;
  }
  
  /* this class center the img from the product cart*/
  .center{
    display: flex;
    justify-content: center;
  }

  /* responsive img card style's */
  .img-card{
    width: 30vh !important;
    height: 30vh;
  }

  /* this class change the size from the button text */
  .text-size-button-1{
    font-size: 3.5vw !important;
  }

  .text-size-2{
    font-size: 3.6vw;
  }

  .text-size-1{
    font-size: 3.3vw;
  }

  .text-size-3{
    font-size: 5.4vw;
  }
  
  .text-size-4{
    font-size: 5.8vw !important;
  }
  
  .border{
    border: 1px solid black !important;
  }

 }

 