body {
  margin: 0;
}

.none-style-a a {
  text-decoration: none;
  color: inherit;
}

.none-style-a a:hover {
  text-decoration: none;
  color: inherit;
}

.link-style{
  padding: 0px 15px 0px 15px;
}

.r-1{
  right: -130px;
}

.responsive-buttons{
  position: absolute;

}

@media (max-width: 1000px) { 

  .link-style{
    padding: 10px 5px 10px 5px;
  }

  .responsive-buttons{
    position: relative;
    display: flex;
    flex-direction: column-reverse;
  }
  .r-1{
    right: 0;
  }

  .responsive-padding{
    width: 55px;
  }

 }